/*-----------------------------------------------.CSS FOR COURSES PAGE-----------------------------------------------*/
* {
    font-size: 70%;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
    background: linear-gradient(#FFFFFF, #FFFFFF, #FFFFFF);
    box-sizing: border-box;
}

h3[type="courses_page_title"] {
    width: 100%;
    text-align: center;
    color: #00aad5;
    font-size: 4rem;
    margin-top: 20px;
}

/*-------------------------------------------------COURSES PAGE: ROW-------------------------------------------------*/
.row {
    max-width: 114rem;
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {
    float: left;
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}

.row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
}

/*-----------------------------------------------COURSES PAGE: BUTTONS-----------------------------------------------*/
.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active, .btn:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: #fff;
    color: #777;
    margin-bottom: 10px;
}

.btn--white::after {
    background-color: #fff;
}

/*------------------------------------------------COURSES PAGE: CARDS------------------------------------------------*/
.card {
    -webkit-perspective: 150rem;
    perspective: 150rem;
    position: relative;
    height: 52rem;
}

.card__side {
    height: 52rem;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

/*----------------------------------------------------CARDS: FRONT----------------------------------------------------*/
.card__side--front {
    background-color: #fff;
}

.card__side--front {
    background: linear-gradient(-45deg, #00aad5, #5ed2ef, #00aad5);
}

.card__title {
    height: 20rem;
    padding: 4rem 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card__details {
    /*padding: 0 2rem 2rem;*/
}

.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

/*----------------------------------------------------CARDS: BACK----------------------------------------------------*/
.card__side--back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card__side--back {
    background: linear-gradient(-45deg, #00aad5, #5ed2ef, #00aad5);
}

.card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.card__rating-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
}

.card__rating-only {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.card__rating-value {
    font-size: 6rem;
    font-weight: 100;
}
